/* .m-0 { margin: 0px !important; } */
.m-5px { margin: 5px !important; }
.m-10px { margin: 10px !important; }
.m-15px { margin: 15px !important; }
.m-20px { margin: 20px !important; }
.m-25px { margin: 25px !important; }
.m-30px { margin: 30px !important; }
.m-35px { margin: 35px !important; }
/* .m-l-0px { margin-left: 0px !important; } */
.m-l-5px { margin-left: 5px !important; }
.m-l-10px { margin-left: 10px !important; }
.m-l-15px { margin-left: 15px !important; }
.m-l-20px { margin-left: 20px !important; }
.m-l-25px { margin-left: 25px !important; }
.m-l-30px { margin-left: 30px !important; }
.m-l-35px { margin-left: 35px !important; }
/* .m-r-0px { margin-right: 0px !important; } */
.m-r-5px { margin-right: 5px !important; }
.m-r-10px { margin-right: 10px !important; }
.m-r-15px { margin-right: 15px !important; }
.m-r-20px { margin-right: 20px !important; }
.m-r-25px { margin-right: 25px !important; }
.m-r-30px { margin-right: 30px !important; }
.m-r-35px { margin-right: 35px !important; }
/* .m-t-0px { margin-top: 0px !important; } */
.m-t-5px { margin-top: 5px !important; }
.m-t-10px { margin-top: 10px !important; }
.m-t-15px { margin-top: 15px !important; }
.m-t-20px { margin-top: 20px !important; }
.m-t-25px { margin-top: 25px !important; }
.m-t-30px { margin-top: 30px !important; }
.m-t-35px { margin-top: 35px !important; }
/* .m-b-0px { margin-bottom: 0px !important; } */
.m-b-5px { margin-bottom: 5px !important; }
.m-b-10px { margin-bottom: 10px !important; }
.m-b-15px { margin-bottom: 15px !important; }
.m-b-20px { margin-bottom: 20px !important; }
.m-b-25px { margin-bottom: 25px !important; }
.m-b-30px { margin-bottom: 30px !important; }
.m-b-35px { margin-bottom: 35px !important; }

/* .p-0 { padding: 0px !important; } */
.p-5px { padding: 5px !important; }
.p-10px { padding: 10px !important; }
.p-15px { padding: 15px !important; }
.p-20px { padding: 20px !important; }
.p-25px { padding: 25px !important; }
.p-30px { padding: 30px !important; }
.p-35px { padding: 35px !important; }
/* .p-l-0px { padding-left: 0px !important; } */
.p-l-5px { padding-left: 5px !important; }
.p-l-10px { padding-left: 10px !important; }
.p-l-15px { padding-left: 15px !important; }
.p-l-20px { padding-left: 20px !important; }
.p-l-25px { padding-left: 25px !important; }
.p-l-30px { padding-left: 30px !important; }
.p-l-35px { padding-left: 35px !important; }
/* .p-r-0px { padding-right: 0px !important; } */
.p-r-5px { padding-right: 5px !important; }
.p-r-10px { padding-right: 10px !important; }
.p-r-15px { padding-right: 15px !important; }
.p-r-20px { padding-right: 20px !important; }
.p-r-25px { padding-right: 25px !important; }
.p-r-30px { padding-right: 30px !important; }
.p-r-35px { padding-right: 35px !important; }
/* .p-t-0px { padding-top: 0px !important; } */
.p-t-5px { padding-top: 5px !important; }
.p-t-10px { padding-top: 10px !important; }
.p-t-15px { padding-top: 15px !important; }
.p-t-20px { padding-top: 20px !important; }
.p-t-25px { padding-top: 25px !important; }
.p-t-30px { padding-top: 30px !important; }
.p-t-35px { padding-top: 35px !important; }
/* .p-b-0px { padding-bottom: 0px !important; } */
.p-b-5px { padding-bottom: 5px !important; }
.p-b-10px { padding-bottom: 10px !important; }
.p-b-15px { padding-bottom: 15px !important; }
.p-b-20px { padding-bottom: 20px !important; }
.p-b-25px { padding-bottom: 25px !important; }
.p-b-30px { padding-bottom: 30px !important; }
.p-b-35px { padding-bottom: 35px !important; }

.pl-right { float: right !important;}
.pl-left { float: left !important;}

.backWhite { background: #fff !important; }

/* .cur-noDrop {cursor: no-drop !important;} */
.cusDisabled {
  color: currentColor !important;
  cursor: not-allowed !important;
  opacity: 0.5 !important;
  text-decoration: none !important;
}
.cusDisabled:hover{
  color: #71748d !important;
  background-color: #fff !important;
  border-color: #e6e6f2 !important;
}

.form-group.row {
  padding: 5px 0 !important;
}
.form-control, .col-form-label, .custom-control-label{
  font-size: 13px !important;
}
.custom-control-label {
  line-height: 2.5 !important;
}

select.form-control {
  height: 32px !important;
  padding-right: 0px !important;
}

.form-control::-webkit-input-placeholder { /* Edge */
  color: #9e9e9e !important;
  font-style: italic !important;
}

.form-control:-ms-input-placeholder { /* Internet Explorer */
  color: #9e9e9e !important;
  font-style: italic !important;
}

.form-control::placeholder {
  color: #9e9e9e !important;
  font-style: italic !important;
}

.chosen-single {
  height: 32px !important;
}

.iconStatus {
	position:absolute;
	right:20px;
	top:2px;
	font-size:18px;
}

.messageError {
	font-size:12px;
	padding-top:5px;
	color:red;
  position: absolute;
  right: 45px;
  top: 0px;
  font-style: italic;
}

.text-red { color: red; }
.text-green { color:green; }

.btn.disabled, .btn:disabled {
  cursor: no-drop !important;
}
